<style>
    .information {
        text-align: center;
        color: #1956AF;
        border-radius: 5px;
        background-color: #E1EDFF;
        border: 1px solid #1956AF;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .border-blue-500{
    --tw-border-opacity:1;
    border-color:rgb(34 170 127 1)
    }
    .border-blue-100{
        --tw-border-opacity:1;
        border-color:rgb(227 255 246 1)
    }
    .border-blue-300{
        --tw-border-opacity:1;
        border-color:rgb(127 229 197 1)
    }
    .bg-blue-500{
        --tw-bg-opacity:1;
        background-color:rgb(34 170 127 1)
    }
    .bg-blue-100{
        --tw-bg-opacity:1;
        background-color:rgb(227 255 246 1)
    }
    .bg-blue-300{
        --tw-bg-opacity:1;
        background-color:rgb(141 187 255 1)
    }
    .bg-blue-200{
        --tw-bg-opacity:1;
        background-color:rgb(179 210 255 1)
    }
    .text-blue-500{
        --tw-text-opacity:1;
        color:rgb(34 170 127 1)
    }
    .text-blue-600{
        --tw-text-opacity:1;
        color:rgb(17 85 63 1)
    }
    .text-blue-300{
        --tw-text-opacity:1;
        color:rgb(127 229 197 1)
    }
    .text-blue-700{
        --tw-text-opacity:1;
        color:rgb(17 85 63 1)
    }
    .hover\:text-blue-900:hover{
        --tw-text-opacity:1;
        color:rgb(15, 77, 58)
    }
    .hover\:text-blue-500:hover{
        --tw-text-opacity:1;
        color:rgb(34 170 127 1)
    }
    .focus\:text-blue-900:focus{
        --tw-text-opacity:1;
        color:rgb(13, 75, 56)
    }
    .group:hover .group-hover\:text-blue-500{
        --tw-text-opacity:1;
        color:rgb(34 170 127 1)
    }
    .dark .dark\:text-blue-400{
        --tw-text-opacity:1;
        color:rgb(85 221 178 1)
    }
    .dark .dark\:text-blue-300{
        --tw-text-opacity:1;
        color:rgb(127 229 197 1)
    }
    .dark .dark\:hover\:text-blue-200:hover{
        --tw-text-opacity:1;
        color:rgb(179 210 255 1)
    }
    .dark .dark\:hover\:text-blue-100:hover{
        --tw-text-opacity:1;
        color:rgb(44, 221, 165)
    }
    .dark .dark\:hover\:text-blue-400:hover{
        --tw-text-opacity:1;
        color:rgb(37, 201, 149)
    }
    .dark .dark\:focus\:text-blue-100:focus{
        --tw-text-opacity:1;
        color:rgb(169, 236, 215)
    }
    .dark .group:hover .dark\:group-hover\:text-blue-400{
        --tw-text-opacity:1;
        color:rgb(54, 207, 159)
    }
    :root {
        --logoLabel-text: #27c492;
        --logoLabel-background: #e3fff6;
    }
</style>